<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script>
        angular.module('myApp', [])
        .config()
        .run(function ($rootScope) {
            $rootScope.message = 'Hi!';
        })
        .controller('MyController', function ($scope) {
            // $scope.message = 'Hello World';
            console.log($scope.message);
            $scope.candidates = [{name:'Talin'}, {name:'Ray'}];
            $scope.address = {
                city: 'San Jose',
                state: 'CA',
                zip: '95129'
            };
        });
    </script>
</head>
<body ng-app="myApp">
    This is what message evaluates to in the html, outside the controller: {{message}}
    <div ng-controller="MyController">
        This is inside the controller is {{message}}
        <ul>
            <li ng-repeat="candidate in candidates">{{candidate.name}}</li>
        </ul>
        <ul>
            <li ng-repeat="(key, value) in address">{{key}}: {{value}}</li>
        </ul>
    </div>
</body>
</html>